[project]
	description = Part of the course, teaches students the basics when working with the Gerrit tool.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ra134738 (Alankmc)
[access "refs/for/refs/*"]
	read = group user/ra134738 (Alankmc)
	push = group user/ra134738 (Alankmc)
	label-Code-Review = -2..+2 group user/ra134738 (Alankmc)
	label-Verified = -1..+1 group user/ra134738 (Alankmc)
	rebase = group user/ra134738 (Alankmc)
	removeReviewer = group user/ra134738 (Alankmc)
	submit = group user/ra134738 (Alankmc)
[access "refs/heads/*"]
	read = group user/ra134738 (Alankmc)
	create = group user/ra134738 (Alankmc)
	push = +force group user/ra134738 (Alankmc)
	pushMerge = group user/ra134738 (Alankmc)
[access "refs/tags/*"]
	push = +force group user/ra134738 (Alankmc)
	pushTag = group user/ra134738 (Alankmc)
	pushSignedTag = group user/ra134738 (Alankmc)
